.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  background-size: cover;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.ipl-dashboard-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ipl-dashboard-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  width: 8%;
  margin-right: 20px;
}
.ipl-heading {
  color: white;
  font-family: bree serif;
}
.teams-list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 586px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
  .ipl-logo {
    width: 4%;
    margin-right: 0;
  }
  .ipl-heading {
    font-size: 46px;
  }
}
